In [4]:
import os
from datetime import datetime
from multiprocessing import Process

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
"""
Google Data Informal Documentation
"""

# Read in Google Mobility Data
google_data = pd.read_csv('./data/Google_Global_Mobility_Report.csv',
                          low_memory=False)

In [6]:
google_data
google_data = google_data.fillna(0)

In [117]:
# Extensive Preprocessing Required

# Get a single country (this step will be done by loop eventually)
# Second line ensures that no duplicate city data from countries is picked up
country_data = google_data.loc[google_data['country_region_code'] == 'AE']
country_data = country_data.loc[country_data['sub_region_1'] == 0]

# Seperates description information from mobility data
# temp: stores mobility data
# country_data: stores description information
temp = country_data.transpose().iloc[7:]
country_data = country_data.transpose().iloc[:7]
country_data = country_data.iloc[:,:6]
country_data = country_data.transpose()

# creates a single column dataframe
# will be used to label dataframe within country dataframe
datatypes = temp.index.values.tolist()
datatypes = pd.DataFrame(datatypes, columns=['datatype'])

# renames column index in temp to use date format
# renames row indices to be numeric
# this makes concatenation work later
temp.columns = temp.iloc[0]
temp = temp.drop(temp.index[0])
temp.index = list(range(6))
datatypes = datatypes.drop(datatypes.index[0])
datatypes.index = list(range(6))

# creates country dataframe with all information
# additional logic is needed to match overall column index format
country_df = pd.concat([country_data, datatypes, temp], axis=1)
country_df

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,datatype,2020-02-15,2020-02-16,...,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,2020-09-22,2020-09-23,2020-09-24,2020-09-25
0,AE,United Arab Emirates,0,0,0,0,0,retail_and_recreation_percent_change_from_base...,0,1,...,0,0,0,0,0,0,0,0,0,0
1,AE,United Arab Emirates,0,0,0,0,0,grocery_and_pharmacy_percent_change_from_baseline,4,4,...,0,0,0,0,0,0,0,0,0,0
2,AE,United Arab Emirates,0,0,0,0,0,parks_percent_change_from_baseline,5,4,...,0,0,0,0,0,0,0,0,0,0
3,AE,United Arab Emirates,0,0,0,0,0,transit_stations_percent_change_from_baseline,0,1,...,0,0,0,0,0,0,0,0,0,0
4,AE,United Arab Emirates,0,0,0,0,0,workplaces_percent_change_from_baseline,2,2,...,-23,-23,-19,-16,-23,-23,-23,-22,-23,-19
5,AE,United Arab Emirates,0,0,0,0,0,residential_percent_change_from_baseline,1,1,...,10,11,10,8,10,10,10,11,12,10

In [ ]:
google_transpose = google_data.transpose()
google_transpose

In [ ]:
google_transpose.iloc[7:]